/* Responsive Design */
@media screen and (max-width: 825px) {
  .burger {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 0;
    width: 30%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    z-index: 2;
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
  }

  .nav-links.nav-active {
    transform: translateX(0);
    display: flex;
  }

  .burger.toggle .line-1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .burger.toggle .line-2 {
    opacity: 0;
  }

  .burger.toggle .line-3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}
